.WelcomePage_mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(33, 37, 41) !important;
  width: 100%;
  overflow: hidden;
}
.WelcomePage_image {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px 60px 100px 60px;
  box-shadow: 0px 0px 2px 3px rgba(57, 57, 58, 0.85);
  padding: 5px;
  margin-bottom: 3rem !important;
}

.WelcomePage_button {
  background: rgb(83, 232, 139);
  background: linear-gradient(
    130deg,
    rgba(83, 232, 139, 1) 0%,
    rgba(21, 190, 119, 1) 100%
  );
  border: none;
  width: 10rem;
  margin: 2rem 1rem;
  border-radius: 18px;
  padding: 0.5rem 1rem;
  color: #fff;
}
.WelcomePage_button_secondary {
  margin-top: 2rem;
  background-color: limegreen !important;
  padding: 0.4rem;
  border-radius: 20px;
  color: whitesmoke;
}
.WelcomePage_button_terciary {
  background: rgb(83, 232, 139);
  background: linear-gradient(
    130deg,
    rgba(83, 232, 139, 1) 0%,
    rgba(21, 190, 119, 1) 100%
  );
  border: none !important;
  margin-top: 0.2rem;
  padding: 0.4rem 1rem;
  border-radius: 20px !important;
  color: whitesmoke;
}
.WelcomePage_text {
  background: rgb(83, 232, 139);
  background: -webkit-linear-gradient(
    130deg,
    rgba(83, 232, 139, 1) 0%,
    rgba(21, 190, 119, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
