.CategoryCard {
  height: 9rem;
  width: 100%;
  margin-bottom: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f4;
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  overflow: hidden;
}
.CatagoryCard_text {
  color: #f4f4f4;

  border-radius: 20px;
}
.CategoryCard_button {
  background-color: #fff;
  border-radius: 20px;
}
