.OurButton {
  background: rgb(83, 232, 139);
  background: linear-gradient(
    130deg,
    rgba(83, 232, 139, 1) 0%,
    rgba(21, 190, 119, 1) 100%
  );
  border: none;
  width: 10rem;
  margin-top: 3rem;
  border-radius: 18px;
}
